

@media (min-width: 320px) and (max-width: 420px) {
    .total_container{
        display: inline-block;
        width: 100%;
    }
    .percent-indicator{
        display: inline-block;
        width: 100%;
        height: 100px;
        position: absolute;
        margin-top: 100px;
        top: 0;
        left: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .per-0{
        position: relative;
        width: 100%;
        height: 20px;
        border-bottom: 1.5px dashed #666666;
        opacity: 30%;
    }
    .per-20{
        position: relative;
        width: 100%;
        height: 20px;
        border-bottom: 1.5px dashed #666666;
        opacity: 30%;
    }
    .per-40{
        position: relative;
        width: 100%;
        height: 20px;
        border-bottom: 1.5px dashed #666666;
        opacity: 30%;
        
    }
    .per-60{
        position: relative;
        width: 100%;
        height: 20px;
        border-bottom: 1.5px dashed #666666;
        opacity: 30%;
        
    }
    .per-80{
        position: relative;
        width: 100%;
        height: 20px;
        border-bottom: 1.5px dashed #666666;
        opacity: 30%;
    }
    .per-100{
        position: relative;
        width: 100%;
        height: 20px;
        border-bottom: 1.5px solid #666666;
        opacity: 30%;
    }
    .wrapper {
        width: 100%;
        height: 100px;
        margin-top: 78px;
        display: flex;
        justify-content: center;
    }
    
    .H0{
        height: 0px;
        background-color: red;
    }
    .H10{
        height: 10px;
        background-color: #5CB85C;
    }
    .H20{
        height: 20px;
        background-color: #5CB85C;
    }
    .H30{
        height: 30px;
        background-color: #5CB85C;
    }
    .H40{
        height: 40px;
        background-color: #5CB85C;
    }
    .H50{
        height: 50px;
        background-color: #5CB85C;
    }
    .H60{
        height: 60px;
        background-color: #5CB85C;
    }
    .H70{
        height: 70px;
        background-color: #5CB85C;
    }
    .H80{
        height: 80px;
        background-color: #5CB85C;
    }
    .H90{
        height: 90px;
        background-color: #5CB85C;
    }
    .H100{
        height: 100px;
        background-color: #5CB85C;
    }
    .bar{
        display: inline-block;
        width:30px;
        margin-right:20px;
        list-style:none;
        margin-top: auto;
    }

    .Score_Desc{
        width: 100%;
        text-align: center;
        color: #6A6A6A;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    }
    .Desc_date{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .Desc_score{
        display: inline-block;
        width: 30%;
    }
    .Desc_level{
        display: inline-block;
        width: 30%;
    }

    
    .Score_table{
        display: block;
    }
    .Check_listitem{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 15px;
        color: rgba(106, 106, 106, 0.8);
    }
 

}

@media (min-width: 768px) and (max-width: 1024px) {
    .total_container{
        display: inline-block;
        width: 50%;
    }
    .percent-indicator{
        display: inline-block;
        width: 50%;
        height: 500px;
        position: absolute;
        top: 0;
        right: 5%;
        left: 5%;
        bottom: 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .per-0{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-20{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-40{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
        
    }
    .per-60{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
        
    }
    .per-80{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-100{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px solid #666666;
        opacity: 50%;
    }
    .wrapper {
        display: flex;
        height: 500px;
        justify-content: center;
        width: 50%;
        margin-top: 65px;
    }
    .wrapper2{
        display: inline-block;
        width: 40%;
    }
    .H0{
        height: 0px;
        line-height: 200px;
        background-color: red;
    }
    .H10{
        height: 53px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H20{
        height: 103px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H30{
        height: 153px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H40{
        height: 203px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H50{
        height: 253px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H60{
        height: 303px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H70{
        height: 353px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H80{
        height: 403px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H90{
        height: 453px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H100{
        height: 503px;
        line-height: 200px;
        background-color: #5CB85C;
    }

    .bar{
        display: inline-block;
        width: 50px;
        margin-right:24px;
        list-style:none;
        margin-top: auto;
    }

    .Score_Desc{
        width: 100%;
        text-align: center;
        color: #6A6A6A;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    }
    .Desc_date{
        display: inline-block;
        width: 30%;
        text-align: center;
    }
    .Desc_score{
        display: inline-block;
        width: 30%;
    }
    .Desc_level{
        display: inline-block;
        width: 30%;
    }

    
    .Score_table{
        display: block;
    }
    .Check_listitem{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 25px;
        color: rgba(106, 106, 106, 0.8);
    }
 
    
}

@media (min-width: 1024px) and (max-width: 1280px){
    .total_container{
        display: inline-block;
        width: 50%;
        height: 500px;
    }
    .percent-indicator{
        display: inline-block;
        width: 50%;
        height: 500px;
        position: absolute;
        top: 0;
        right: 5%;
        left: 5%;
        bottom: 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .per-0{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-20{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-40{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
        
    }
    .per-60{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
        
    }
    .per-80{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-100{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px solid #666666;
        opacity: 50%;
    }
    .wrapper {
        display: inline-block;
        width: 100%;
        height: 500px;
        margin-top: 65px;
        display: flex;
        justify-content: center;
    }
    .wrapper2{
        display: inline-block;
        width: 40%;
    }
    .H0{
        height: 0px;
        background-color: red;
    }
    .H10{
        height: 50px;
        background-color: #5CB85C;
    }
    .H20{
        height: 100px;
        background-color: #5CB85C;
    }
    .H30{
        height: 150px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H40{
        height: 200px;
        background-color: #5CB85C;
    }
    .H50{
        height: 250px;
        background-color: #5CB85C;
    }
    .H60{
        height: 300px;
        background-color: #5CB85C;
    }
    .H70{
        height: 350px;
        background-color: #5CB85C;
    }
    .H80{
        height: 400px;
        background-color: #5CB85C;
    }
    .H90{
        height: 450px;
        background-color: #5CB85C;
    }
    .H100{
        height: 500px;
        background-color: #5CB85C;
    }

    .bar{
        display: inline-block;
        width: 40px;
        margin-right:24px;
        list-style:none;
        margin-top: auto;
    }

    .Score_Desc{
        width: 100%;
        text-align: center;
        color: #6A6A6A;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    }
    .Desc_date{
        display: inline-block;
        width: 30%;
        text-align: center;
    }
    .Desc_score{
        display: inline-block;
        width: 30%;
    }
    .Desc_level{
        display: inline-block;
        width: 30%;
    }

    
    .Score_table{
        display: block;
    }
    .Check_listitem{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 25px;
        color: rgba(106, 106, 106, 0.8);
    }
 

}

@media (min-width: 1281px) {

    .total_container{
        display: inline-block;
        width: 50%;
        height: 500px;
    }
    .percent-indicator{
        display: inline-block;
        width: 50%;
        height: 500px;
        position: absolute;
        top: 0;
        right: 5%;
        left: 5%;
        bottom: 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .per-0{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-20{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-40{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
        
    }
    .per-60{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
        
    }
    .per-80{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px dashed #666666;
        opacity: 50%;
    }
    .per-100{
        position: relative;
        width: 100%;
        height: 100px;
        border-bottom: 3px solid #666666;
        opacity: 50%;
    }

    .wrapper {
        display: flex;
        height: 500px;
        justify-content: center;
        width: 50%;
        margin-top: 65px;
    }
    .wrapper2{
        display: inline-block;
        width: 40%;
    }
    .H0{
        height: 0px;
        line-height: 200px;
        background-color: red;
    }
    .H10{
        height: 50px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H20{
        height: 100px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H30{
        height: 150px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H40{
        height: 200px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H50{
        height: 250px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H60{
        height: 300px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H70{
        height: 350px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H80{
        height: 400px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H90{
        height: 450px;
        line-height: 200px;
        background-color: #5CB85C;
    }
    .H100{
        height: 500px;
        line-height: 200px;
        background-color: #5CB85C;
    }

    .bar{
        display: inline-block;
        width: 50px;
        margin-right:24px;
        list-style:none;
        margin-top: auto;
    }

    .Score_Desc{
        width: 100%;
        text-align: center;
        color: #6A6A6A;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    }
    .Desc_date{
        display: inline-block;
        width: 30%;
        text-align: center;
    }
    .Desc_score{
        display: inline-block;
        width: 30%;
    }
    .Desc_level{
        display: inline-block;
        width: 30%;
    }

    
    .Score_table{
        display: block;
    }
    .Check_listitem{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 25px;
        color: rgba(106, 106, 106, 0.8);
    }
}