@media only screen and (max-width: 360px) {
    .Game_choice_Container{
        width: 100%;
    }
    .gugudan_box{
        width: 100%;
    }
    
    .Choice_Box{
        width: 100%;
    }

    .Answer_Btn{
        width: 40%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
  }