@font-face {
    font-family: "BMJUA";
    src: url("../Fonts/BMJUA_ttf.ttf");
}

@media (min-width: 320px) and (max-width: 420px) {
    .Game_choice_Container{
        width: 100%;
    }
    .GH_gugudan_box{
        width: 100%;
       font-family: BMJUA;
    }
    .Problem_numberBox{
        width: 100px;
        height: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px dashed rgba(106, 106, 106, 0.5);
        border-radius: 20px;
        color: #6A6A6A;
        justify-content: center;
        margin-top: 31px;
        margin-left: 24px;
    }
    .OnMobile_ChoiceBox{
        display: 'block';
    }
    .Choice_Line{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .Answer_Btn{
        width: 40%;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;  
        font-family: BMJUA;
        outline: 0;
        font-size: 24px;
        
    }
    .Answer_Btn:hover{
        width: 40%;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px; 
        background-color:  #88D7F6; 
        font-weight: bold;
        font-family: BMJUA;
        outline: 0;
        font-size: 24px;
    }
    .text{
        font-size: 75px;
        margin-bottom: 22px;
        margin-top: 37px;
        color: #4C4949;
    }
    .cutline{
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 0px;
        border: 2px solid rgba(106, 106, 106, 0.5);
    }


    .Result_text{
        height: 23px;
        left: 58px;
        top: 209px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #6A6A6A;
    }
    .Result_text2{
        font-size: 35px;
        color: rgba(56, 53, 53, 0.9);
    }

    .Result_Btn {
        display: block;
        width: 225px;
        height: 40px;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        outline: 0;
    }
    .Result_Btn:hover{
        display: block;
        width: 225px;
        height: 40px;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        outline: 0;
        background-color: #88D7F6;
    }
    .Result_Btn1{
        margin-top: 59px;
        outline: 0;
    }

    .OnTablet_AnswerBox{
        display: none;
    }
    .OnTablet_ChoiceBox{
        display: none;
    }
  }


  @media (min-width: 768px) and (max-width: 1024px) {

    .Game_choice_Container{
        display: inline-block;
        display: inline-block;
        width: 768px;
    }
    .GH_gugudan_box{
        width: 320px;
        height: 100%;
        font-family: BMJUA;
    }
    .Problem_numberBox{
        width: 180px;
        height: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px dashed rgba(106, 106, 106, 0.5);
        border-radius: 20px;
        color: #6A6A6A;
        justify-content: center;
        margin-top: 32px;
        margin-left: 24px;
        margin-bottom: 99px;
    }
    .Choice_Line{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .OnMobile_ChoiceBox{
        display: none;
    }
    .Answer_Btn{
        width: 140px;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;  
        font-family: BMJUA;
        outline: 0;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-size: 30px;
    }
    .Answer_Btn:hover{
        width: 140px;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px; 
        background-color:  #88D7F6; 
        font-weight: bold;
        font-family: BMJUA;
        outline: 0;
        background: #87CEEB;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-size: 30px;
    }
    .text{
        font-size: 75px;
        margin-bottom: 22px;
        margin-top: 37px;
        color: #4C4949;
    }
    .cutline{
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 0px;
        border: 2px solid rgba(106, 106, 106, 0.5);
    }

    .result_box{
        width: 400px;
        height: 350px;
    }

    .Result_text{
        height: 23px;
        left: 58px;
        top: 209px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #6A6A6A;
    }
    .Result_text2{
        font-size: 35px;
        color: rgba(56, 53, 53, 0.9);
    }

    .Result_Btn {
        display: block;
        width: 140px;
        height: 45px;
        font-size: 20px;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        outline: 0;
    }
    .Result_Btn:hover{
        display: block;
        width: 140px;
        height: 45px;
        font-size: 20px;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        outline: 0;
        background-color: #88D7F6;
    }
    .Result_Btn1{
        margin-top: 59px;
        outline: 0;
    }
    

    .OnTablet_AnswerBox{
        display: inline-block;
        width: 320px;
        height: 80px;
        background: #FFFEFE;
        border: 5px dashed rgba(106, 106, 106, 0.5);
        border-radius: 5px;
        margin-top: 35px;
    }
    
    .OnTablet_ChoiceBox{
        display: inline-block;
        width: 320px;
        vertical-align: top;
        margin-top: 330px;
        margin-left: 50px;
    }
    

    .OnTablet_text{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #646161;
    }
    
    }


  @media (min-width: 1024px) and (max-width: 1280px) and (orientation: Landscape){

    .Game_choice_Container{
        display: inline-block;
        display: inline-block;
        width: 1024px;
    }
    .GH_gugudan_box{
        width: 320px;
        height: 100%;
        font-family: BMJUA;
    }
    .Problem_numberBox{
        width: 180px;
        height: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px dashed rgba(106, 106, 106, 0.5);
        border-radius: 20px;
        color: #6A6A6A;
        justify-content: center;
        margin-top: 32px;
        margin-left: 24px;
        margin-bottom: 99px;
    }
    .Choice_Line{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .OnMobile_ChoiceBox{
        display: none;
    }
    .Answer_Btn{
        width: 165px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;  
        font-family: BMJUA;
        outline: 0;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-size: 30px;
    }
    .Answer_Btn:hover{
        width: 165px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px; 
        background-color:  #88D7F6; 
        font-weight: bold;
        font-family: BMJUA;
        outline: 0;
        background: #87CEEB;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-size: 30px;
    }
    .text{
        font-size: 75px;
        margin-bottom: 22px;
        margin-top: 37px;
        color: #4C4949;
    }
    .cutline{
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 0px;
        border: 2px solid rgba(106, 106, 106, 0.5);
    }

    .result_box{
        width: 650px;
        height: 350px;
    }

    .Result_text{
        height: 23px;
        left: 58px;
        top: 209px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #6A6A6A;
    }
    .Result_text2{
        font-size: 35px;
        color: rgba(56, 53, 53, 0.9);
    }

    .Result_Btn {
        display: block;
        width: 225px;
        height: 60px;
        font-size: 20px;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        outline: 0;
    }
    .Result_Btn:hover{
        display: block;
        width: 225px;
        height: 60px;
        font-size: 20px;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        outline: 0;
        background-color: #88D7F6;
    }
    .Result_Btn1{
        margin-top: 59px;
        outline: 0;
    }
    

    .OnTablet_AnswerBox{
        display: inline-block;
        width: 320px;
        height: 80px;
        background: #FFFEFE;
        border: 5px dashed rgba(106, 106, 106, 0.5);
        border-radius: 5px;
        margin-top: 35px;
    }
    
    .OnTablet_ChoiceBox{
        display: inline-block;
        width: 450px;
        vertical-align: top;
        margin-top: 265px;
    }
    

    .OnTablet_text{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        color: #646161;
    }
}

@media (min-width: 1281px){
    .Game_choice_Container{
        display: inline-block;
        display: inline-block;
        width: 1280px;
    }
    .GH_gugudan_box{
        width: 320px;
        height: 100%;
        font-family: BMJUA;
    }
    .Problem_numberBox{
        width: 180px;
        height: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px dashed rgba(106, 106, 106, 0.5);
        border-radius: 20px;
        color: #6A6A6A;
        justify-content: center;
        margin-top: 32px;
        margin-left: 24px;
        margin-bottom: 99px;
    }
    .Choice_Line{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .OnMobile_ChoiceBox{
        display: none;
    }
    .Answer_Btn{
        width: 165px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;  
        font-family: BMJUA;
        outline: 0;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-size: 30px;
    }
    .Answer_Btn:hover{
        width: 165px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px; 
        background-color:  #88D7F6; 
        font-weight: bold;
        font-family: BMJUA;
        outline: 0;
        background: #87CEEB;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-size: 30px;
    }
    .text{
        font-size: 75px;
        margin-bottom: 22px;
        margin-top: 37px;
        color: #4C4949;
    }
    .cutline{
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 0px;
        border: 2px solid rgba(106, 106, 106, 0.5);
    }

    .result_box{
        width: 650px;
        height: 350px;
    }

    .Result_text{
        height: 23px;
        left: 58px;
        top: 209px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #6A6A6A;
    }
    .Result_text2{
        font-size: 35px;
        color: rgba(56, 53, 53, 0.9);
    }

    .Result_Btn {
        display: block;
        width: 225px;
        height: 60px;
        font-size: 20px;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        outline: 0;
    }
    .Result_Btn:hover{
        display: block;
        width: 225px;
        height: 60px;
        font-size: 20px;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        outline: 0;
        background-color: #88D7F6;
    }
    .Result_Btn1{
        margin-top: 59px;
        outline: 0;
    }
    

    .OnTablet_AnswerBox{
        display: inline-block;
        width: 320px;
        height: 80px;
        background: #FFFEFE;
        border: 5px dashed rgba(106, 106, 106, 0.5);
        border-radius: 5px;
        margin-top: 35px;
    }
    
    .OnTablet_ChoiceBox{
        display: inline-block;
        width: 450px;
        vertical-align: top;
        margin-top: 265px;
    }
    

    .OnTablet_text{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        color: #646161;
    }
}