@font-face {
    font-family: "BMJUA";
    src: url("../Fonts/BMJUA_ttf.ttf");
}
@media (min-width: 320px) and (max-width: 420px) {
    .limit_bar_container{
        display: inline-block;
    }
    .limit_bar_img{
        display: inline-block;
        width: 82px;
        height: 65px;
        background-image: url('../Images/limitClockSmall.png');
    }
    .limit_bar_back{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        height: 11px;
        text-align: left;
        background-color: white;
        border-style: solid;
        border-color: rgb(155, 153, 153);
        border: 1px 1px 1px 1px;
        border-radius: 10px 10px 10px 10px;
        
    }
    .limit_bar{
        display: inline-block;
        width: 180px;
        height: 11px;
        background-color: #FFCC00;
        border-style: solid;
        border: 1px;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 20px;
        
    }
    
    .sec0{width: 0px}
    .sec1{width: 1.5px}
    .sec2{width: 3px}
    .sec3{width: 4.5px}
    .sec4{width: 6px}
    .sec5{width: 7.5px}
    .sec6{width: 9px}
    .sec7{width: 10.5px}
    .sec8{width: 12px}
    .sec9{width: 13.5px}
    .sec10{width: 15px}
    .sec11{width: 16.5px}
    .sec12{width: 18px}
    .sec13{width: 19.5px}
    .sec14{width: 21px}
    .sec15{width: 22.5px}
    .sec16{width: 24px}
    .sec17{width: 25.5px}
    .sec18{width: 27px}
    .sec19{width: 28.5px}
    .sec20{width: 30px}
    .sec21{width: 31.5px}
    .sec22{width: 33px}
    .sec23{width: 34.5px}
    .sec24{width: 36px}
    .sec25{width: 37.5px}
    .sec26{width: 39px}
    .sec27{width: 40.5px}
    .sec28{width: 42px}
    .sec29{width: 43.5px}
    .sec30{width: 45px}
    .sec31{width: 46.5px}
    .sec32{width: 48px}
    .sec33{width: 49.5px}
    .sec34{width: 51px}
    .sec35{width: 52.5px}
    .sec36{width: 54px}
    .sec37{width: 55.5px}
    .sec38{width: 57px}
    .sec39{width: 58.5px}
    .sec40{width: 60px}
    .sec41{width: 61.5px}
    .sec42{width: 63px}
    .sec43{width: 64.5px}
    .sec44{width: 66px}
    .sec45{width: 67.5px}
    .sec46{width: 69px}
    .sec47{width: 70.5px}
    .sec48{width: 72px}
    .sec49{width: 73.5px}
    .sec50{width: 75px}
    .sec51{width: 76.5px}
    .sec52{width: 78px}
    .sec53{width: 79.5px}
    .sec54{width: 81px}
    .sec55{width: 82.5px}
    .sec56{width: 84px}
    .sec57{width: 85.5px}
    .sec58{width: 87px}
    .sec59{width: 88.5px}
    .sec60{width: 90px}
    .sec61{width: 91.5px}
    .sec62{width: 93px}
    .sec63{width: 94.5px}
    .sec64{width: 96px}
    .sec65{width: 97.5px}
    .sec66{width: 99px}
    .sec67{width: 100.5px}
    .sec68{width: 102px}
    .sec69{width: 103.5px}
    .sec70{width: 105px}
    .sec71{width: 106.5px}
    .sec72{width: 108px}
    .sec73{width: 109.5px}
    .sec74{width: 111px}
    .sec75{width: 112.5px}
    .sec76{width: 114px}
    .sec77{width: 115.5px}
    .sec78{width: 117px}
    .sec79{width: 118.5px}
    .sec80{width: 120px}
    .sec81{width: 121.5px}
    .sec82{width: 123px}
    .sec83{width: 124.5px}
    .sec84{width: 126px}
    .sec85{width: 127.5px}
    .sec86{width: 129px}
    .sec87{width: 130.5px}
    .sec88{width: 132px}
    .sec89{width: 134.5px}
    .sec90{width: 136px}
    .sec91{width: 137.5px}
    .sec92{width: 139px}
    .sec93{width: 140.5px}
    .sec94{width: 142px}
    .sec95{width: 143.5px}
    .sec96{width: 145px}
    .sec97{width: 146.5px}
    .sec98{width: 148px}
    .sec99{width: 149.5px}
    .sec100{width: 151px}
    .sec101{width: 152.5px}
    .sec102{width: 154px}
    .sec103{width: 155.5px}
    .sec104{width: 157px}
    .sec105{width: 158.5px}
    .sec106{width: 160px}
    .sec107{width: 161.5px}
    .sec108{width: 163px}
    .sec109{width: 164.5px}
    .sec110{width: 166px}
    .sec111{width: 167.5px}
    .sec112{width: 169px}
    .sec113{width: 170.5px}
    .sec114{width: 172px}
    .sec115{width: 173.5px}
    .sec116{width: 175px}
    .sec117{width: 176.5px}
    .sec118{width: 178px}
    .sec119{width: 179.5px}
    .sec120{width: 180px}
    .top_number{
        width: 100px;
        height: 30px;
        margin-left: 24px;
        margin-top: 24px;
        background: #FFFEFE;
        border: 1px dashed rgba(106, 106, 106, 0.5);
        border-radius: 20px;
        font-size: 13px;
        line-height: 30px;
        vertical-align: middle;
    }
    
    .Game_text{
        font-size: 45px;
        margin-right: auto;
        margin-left: auto;
        font-family: BMJUA;
        color: #6A6A6A;
    }
    .InputBox{
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        border: 2px solid rgba(106, 106, 106, 0.25);
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 30px;
        color: #6A6A6A;
        text-align: center;
        margin-left: 10px;
    }
    .Game_start_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 180px;
        height: 180px;
    }
    .Game_startBtn{
        margin-top: 50px;
        width: 200px;
        height: 90px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        font-weight: bold;
        font-size: 20px;
    }
    .Game_startBtn:hover{
        margin-top: 50px;
        width: 200px;
        height: 90px;
        background: #dae766;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        font-weight: bold;
        font-size: 20px;
    }
    .result_text{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        height: 31px;
        color: #3D3A3A;
    }
    .result_score{
        font-family: BMJUA;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        color: rgba(106, 106, 106, 0.9);
        height: 51px;
        margin-bottom: 0em;
    }
    .G_cutline{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3px;
        width: 280px;
        height: 0px;
        border: 2px solid rgba(231, 228, 228, 0.815);
    }

    .RightWrong_Container{
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
    .Right_box{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 60px;
        background: #5CB85C;
        border: 2px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 20px;
        margin-right: 17px;

    }
    .Wrong_box{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 60px;
        background: #D9534F;
        border: 2px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 20px;
    }
    .result_problem{
        display: flex;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        background: #FFFFFF;
        border: 2px dashed #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        justify-content: center;
        margin-top: 10px;
    }
    .result_rightPb{
        width: 89px;
        text-align: left;
        margin-right: 5px;
        margin-left: 20px;
    }
    .result_wrongPb{
        width: 89px;
        text-align: left;
        margin-left: 5px;
    }
    .result_listitem{
        margin-top: 3px;
        margin-bottom: 4px;
        color: #6A6A6A;
        font-family: BMJUA;
        font-size: 15px;
    }
    .Keypad_Btn{
        width: 80px;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        color: #6A6A6A;
        font-size: 25px;
        margin-bottom: 5px;
        font-size: 18px;
        font-family: BMJUA;
    }
    .Keypad_Btn:hover{
        width: 80px;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        color: #6A6A6A;
        font-size: 25px;
        margin-bottom: 5px;
        background-color: #88D7F6;
        font-size: 18px;
        font-family: BMJUA;
    }
    .Keypad_cancel{
        width: 80px;
        height: 55px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        font-size: 25px;
        margin-bottom: 5px;
        background-image: url('../Images/Cancel.png');
        background-color: #D9534F;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Keypad_check{
        width: 80px;
        height: 55px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        font-size: 25px;
        margin-bottom: 5px;
        background-image: url('../Images/Check.png');
        background-color: #5CB85C;
        background-repeat: no-repeat;
        background-position: center;
    }
    .G_Result_Btn{
        display: block;
        width: 200px;
        height: 40px;
        outline: 0em;
        border: 1px dashed rgba(196, 196, 196, 0.75);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        background-color: white;
    }
    .G_Result_Btn:hover{
        display: block;
        width: 200px;
        height: 40px;
        background-color: #88D7F6;
        outline: 0em;
        border: 1px dashed rgba(196, 196, 196, 0.75);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
    }
    .G_Result_Btn1{
        margin-top: 7px;
    }

    #Modal_box{
        font-family: BMJUA;
        font-size: 60px;
        text-align: center;
        line-height: 166px;
        vertical-align: middle;
        padding-top: 25px;
        background-image: url('../Images/Clockimg_smal.png');
        background-repeat: no-repeat;
        background-position: center;
        outline: 0;
    }
    .OnTablet_ResultScoreDiv{
        display: none
    }
}
    

@media (min-width: 768px) and (max-width: 1024px){
    .limit_bar_container{
        display: block;
    }
    .limit_bar_img{
        display: inline-flex;
        width: 180px;
        height: 141px;
        background-image: url('../Images/limitClock.png');
    }
    .limit_bar_back{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 25px;
        text-align: left;
        background-color: white;
        border-style: solid;
        border-color: rgb(155, 153, 153);
        border: 1px 1px 1px 1px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 70px;
        margin-left: -20px;
        margin-bottom: 50px;
    }
    .limit_bar{
        display: inline-block;
        width: 300px;
        height: 25px;
        background-color: #FFCC00;
        border-style: solid;
        border: 1px;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 50px;
    }
    
    .sec0{width: 0px}
    .sec1{width: 2.5px}
    .sec2{width: 5px}
    .sec3{width: 7.5px}
    .sec4{width: 10px}
    .sec5{width: 12.5px}
    .sec6{width: 15px}
    .sec7{width: 17.5px}
    .sec8{width: 20px}
    .sec9{width: 22.5px}
    .sec10{width: 25px}
    .sec11{width: 27.5px}
    .sec12{width: 30px}
    .sec13{width: 32.5px}
    .sec14{width: 35px}
    .sec15{width: 37.5px}
    .sec16{width: 40px}
    .sec17{width: 42.5px}
    .sec18{width: 45px}
    .sec19{width: 47.5px}
    .sec20{width: 50px}
    .sec21{width: 52.5px}
    .sec22{width: 55px}
    .sec23{width: 57.5px}
    .sec24{width: 60px}
    .sec25{width: 62.5px}
    .sec26{width: 65px}
    .sec27{width: 67.5px}
    .sec28{width: 70px}
    .sec29{width: 72.5px}
    .sec30{width: 75px}
    .sec31{width: 77.5px}
    .sec32{width: 80px}
    .sec33{width: 82.5px}
    .sec34{width: 85px}
    .sec35{width: 87.5px}
    .sec36{width: 90px}
    .sec37{width: 92.5px}
    .sec38{width: 95px}
    .sec39{width: 97.5px}
    .sec40{width: 100px}
    .sec41{width: 102.5px}
    .sec42{width: 105px}
    .sec43{width: 107.5px}
    .sec44{width: 110px}
    .sec45{width: 112.5px}
    .sec46{width: 115px}
    .sec47{width: 117.5px}
    .sec48{width: 120px}
    .sec49{width: 122.5px}
    .sec50{width: 125px}
    .sec51{width: 127.5px}
    .sec52{width: 130px}
    .sec53{width: 132.5px}
    .sec54{width: 135px}
    .sec55{width: 137.5px}
    .sec56{width: 140px}
    .sec57{width: 142.5px}
    .sec58{width: 145px}
    .sec59{width: 147.5px}
    .sec60{width: 150px}
    .sec61{width: 152.5px}
    .sec62{width: 155px}
    .sec63{width: 157.5px}
    .sec64{width: 160px}
    .sec65{width: 162.5px}
    .sec66{width: 165px}
    .sec67{width: 167.5px}
    .sec68{width: 170px}
    .sec69{width: 172.5px}
    .sec70{width: 175px}
    .sec71{width: 177.5px}
    .sec72{width: 180px}
    .sec73{width: 182.5px}
    .sec74{width: 185px}
    .sec75{width: 187.5px}
    .sec76{width: 190px}
    .sec77{width: 192.5px}
    .sec78{width: 195px}
    .sec79{width: 197.5px}
    .sec80{width: 200px}
    .sec81{width: 202.5px}
    .sec82{width: 205px}
    .sec83{width: 207.5px}
    .sec84{width: 210px}
    .sec85{width: 212.5px}
    .sec86{width: 215px}
    .sec87{width: 217.5px}
    .sec88{width: 220px}
    .sec89{width: 222.5px}
    .sec90{width: 225px}
    .sec91{width: 227.5px}
    .sec92{width: 230px}
    .sec93{width: 232.5px}
    .sec94{width: 235px}
    .sec95{width: 237.5px}
    .sec96{width: 240px}
    .sec97{width: 242.5px}
    .sec98{width: 245px}
    .sec99{width: 247.5px}
    .sec100{width: 250px}
    .sec101{width: 252.5px}
    .sec102{width: 255px}
    .sec103{width: 257.5px}
    .sec104{width: 260px}
    .sec105{width: 262.5px}
    .sec106{width: 265px}
    .sec107{width: 267.5px}
    .sec108{width: 270px}
    .sec109{width: 272.5px}
    .sec110{width: 275px}
    .sec111{width: 277.5px}
    .sec112{width: 280px}
    .sec113{width: 282.5px}
    .sec114{width: 285px}
    .sec115{width: 287.5px}
    .sec116{width: 290px}
    .sec117{width: 292.5px}
    .sec118{width: 295px}
    .sec119{width: 297.5px}
    .sec120{width: 300px}


    .gugudan_box{
        width: 100%;
    }
    .Form{
        display: inline-block;
    }
    .top_number{
        width: 180px;
        height: 50px;
        margin-left: 100px;
        margin-top: 26px;
        background: #FFFEFE;
        border: 1px dashed rgba(106, 106, 106, 0.5);
        border-radius: 20px;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Game_text{
        font-size: 100px;
        margin-right: auto;
        margin-left: auto;
        font-family: BMJUA;
        color: #6A6A6A;
        margin-bottom: 30px;
        margin-top: 0em;
    }
    .InputBox{
        display: inline-block;
        width: 145px;
        height: 133px;
        background: #FFFFFF;
        border: 2px solid rgba(106, 106, 106, 0.25);
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 100px;
        line-height: 125px;
        color: #6A6A6A;
        text-align: center;
        margin-left: 20px;
    }
    .Game_start_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 126px;
        width: 250px;
        height: 250px;
    }
    .Game_startBtn{
        margin-top: 35px;
        width: 394px;
        height: 80px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        font-weight: bold;
        font-size: 20px;
        outline: 0em;
    }
    .Game_startBtn:hover{
        margin-top: 35px;
        width: 394px;
        height: 80px;
        background: #dae766;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        font-weight: bold;
        font-size: 20px;
        outline: 0em;
    }


    .G_result_box{
        width: 1024px;
        height: 100%;
        display: inline-block;
    }
    .result_text{
        display: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        height: 31px;
        color: #3D3A3A;
    }
    .result_score{
        display: none;
        font-family: BMJUA;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        color: rgba(106, 106, 106, 0.9);
        height: 51px;
        margin-bottom: 0em;
    }
    .G_cutline{
        display: none;
    }

    .RightWrong_Container{
        display: none;
        justify-content: center;
        margin-top: 12px;
    }
    .Right_box{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 60px;
        background: #5CB85C;
        border: 2px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 28px;

    }
    .Wrong_box{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 60px;
        background: #D9534F;
        border: 2px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 28px;
    }
    .result_problem{
        display: inline-block;
        width: 400px;
        height: 567px;
        margin-left: auto;
        margin-right: auto;
        background: #FFFFFF;
        border: 2px dashed #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
        vertical-align: top;
        margin-top: 52px;
    }
    .result_rightPb{
        width: 89px;
        text-align: left;
        text-align: center;
    }
    .result_wrongPb{
        width: 89px;
        text-align: left;
        text-align: center;
    }
    .result_listitem{
        width: 400px;
        justify-content: center;
        margin-top: 3px;
        margin-bottom: 4px;
        color: #6A6A6A;
        font-family: BMJUA;
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .Keypad_Btn{
        width: 140px;
        height: 65px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        color: #6A6A6A;
        font-size: 25px;
        margin-bottom: 5px;
        font-family: BMJUA;
    }
    .Keypad_Btn:hover{
        width: 140px;
        height: 65px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        color: #6A6A6A;
        font-size: 25px;
        margin-bottom: 5px;
        background-color: #88D7F6;
        font-family: BMJUA;
    }
    .Keypad_cancel{
        width: 140px;
        height: 65px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        background-image: url('../Images/Cancel.png');
        background-color: #D9534F;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Keypad_check{
        width: 140px;
        height: 65px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        background-image: url('../Images/Check.png');
        background-color: #5CB85C;
        background-repeat: no-repeat;
        background-position: center;
    }

    .result_Btn_div{
        display: inline-block;
        width: 400px;
        margin-left: 29px;
        margin-top: 75px;
    }

    .G_Result_Btn{
        width: 390px;
        height: 70px;
        outline: 0em;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.75);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-family: BMJUA;
        font-style: normal;
        font-weight: bold;
    }
    .G_Result_Btn:hover{
        width: 390px;
        height: 70px;
        background-color: #88D7F6;
        outline: 0em;
        border: 1px dashed rgba(196, 196, 196, 0.75);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-family: BMJUA;
        font-style: normal;
        font-weight: bold;
    }

    .OnTablet_ResultScoreDiv{
        display: inline-block;
    }
    .OnTablet_ResultImg{
        width: 200px;
        height: 200px;
    }
    .OnTablet_Resulttext1{
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .OnTablet_Resulttext2{
        color: #6A6A6A;
        font-size: 80px;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .OnTablet_Cutline{
        width: 390px;
        height: 0px;
        border: 2.5px solid #DEDEDE;
        margin-bottom: 5px;
    }



    #Modal_box{
        font-family: BMJUA;
        font-size: 60px;
        text-align: center;
        line-height: 166px;
        vertical-align: middle;
        padding-top: 25px;
        background-image: url('../Images/Clockimg_smal.png');
        background-repeat: no-repeat;
        background-position: center;
        outline: 0;
    }
}



@media (min-width: 1024px) and (max-width: 1280px){
    .limit_bar_container{
        display: block;
    }
    .limit_bar_img{
        display: inline-flex;
        width: 180px;
        height: 141px;
        background-image: url('../Images/limitClock.png');
    }
    .limit_bar_back{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 25px;
        text-align: left;
        background-color: white;
        border-style: solid;
        border-color: rgb(155, 153, 153);
        border: 1px 1px 1px 1px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 70px;
        margin-left: -20px;
        margin-bottom: 50px;
    }
    .limit_bar{
        display: inline-block;
        width: 300px;
        height: 25px;
        background-color: #FFCC00;
        border-style: solid;
        border: 1px;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 50px;
    }
    
    .sec0{width: 0px}
    .sec1{width: 2.5px}
    .sec2{width: 5px}
    .sec3{width: 7.5px}
    .sec4{width: 10px}
    .sec5{width: 12.5px}
    .sec6{width: 15px}
    .sec7{width: 17.5px}
    .sec8{width: 20px}
    .sec9{width: 22.5px}
    .sec10{width: 25px}
    .sec11{width: 27.5px}
    .sec12{width: 30px}
    .sec13{width: 32.5px}
    .sec14{width: 35px}
    .sec15{width: 37.5px}
    .sec16{width: 40px}
    .sec17{width: 42.5px}
    .sec18{width: 45px}
    .sec19{width: 47.5px}
    .sec20{width: 50px}
    .sec21{width: 52.5px}
    .sec22{width: 55px}
    .sec23{width: 57.5px}
    .sec24{width: 60px}
    .sec25{width: 62.5px}
    .sec26{width: 65px}
    .sec27{width: 67.5px}
    .sec28{width: 70px}
    .sec29{width: 72.5px}
    .sec30{width: 75px}
    .sec31{width: 77.5px}
    .sec32{width: 80px}
    .sec33{width: 82.5px}
    .sec34{width: 85px}
    .sec35{width: 87.5px}
    .sec36{width: 90px}
    .sec37{width: 92.5px}
    .sec38{width: 95px}
    .sec39{width: 97.5px}
    .sec40{width: 100px}
    .sec41{width: 102.5px}
    .sec42{width: 105px}
    .sec43{width: 107.5px}
    .sec44{width: 110px}
    .sec45{width: 112.5px}
    .sec46{width: 115px}
    .sec47{width: 117.5px}
    .sec48{width: 120px}
    .sec49{width: 122.5px}
    .sec50{width: 125px}
    .sec51{width: 127.5px}
    .sec52{width: 130px}
    .sec53{width: 132.5px}
    .sec54{width: 135px}
    .sec55{width: 137.5px}
    .sec56{width: 140px}
    .sec57{width: 142.5px}
    .sec58{width: 145px}
    .sec59{width: 147.5px}
    .sec60{width: 150px}
    .sec61{width: 152.5px}
    .sec62{width: 155px}
    .sec63{width: 157.5px}
    .sec64{width: 160px}
    .sec65{width: 162.5px}
    .sec66{width: 165px}
    .sec67{width: 167.5px}
    .sec68{width: 170px}
    .sec69{width: 172.5px}
    .sec70{width: 175px}
    .sec71{width: 177.5px}
    .sec72{width: 180px}
    .sec73{width: 182.5px}
    .sec74{width: 185px}
    .sec75{width: 187.5px}
    .sec76{width: 190px}
    .sec77{width: 192.5px}
    .sec78{width: 195px}
    .sec79{width: 197.5px}
    .sec80{width: 200px}
    .sec81{width: 202.5px}
    .sec82{width: 205px}
    .sec83{width: 207.5px}
    .sec84{width: 210px}
    .sec85{width: 212.5px}
    .sec86{width: 215px}
    .sec87{width: 217.5px}
    .sec88{width: 220px}
    .sec89{width: 222.5px}
    .sec90{width: 225px}
    .sec91{width: 227.5px}
    .sec92{width: 230px}
    .sec93{width: 232.5px}
    .sec94{width: 235px}
    .sec95{width: 237.5px}
    .sec96{width: 240px}
    .sec97{width: 242.5px}
    .sec98{width: 245px}
    .sec99{width: 247.5px}
    .sec100{width: 250px}
    .sec101{width: 252.5px}
    .sec102{width: 255px}
    .sec103{width: 257.5px}
    .sec104{width: 260px}
    .sec105{width: 262.5px}
    .sec106{width: 265px}
    .sec107{width: 267.5px}
    .sec108{width: 270px}
    .sec109{width: 272.5px}
    .sec110{width: 275px}
    .sec111{width: 277.5px}
    .sec112{width: 280px}
    .sec113{width: 282.5px}
    .sec114{width: 285px}
    .sec115{width: 287.5px}
    .sec116{width: 290px}
    .sec117{width: 292.5px}
    .sec118{width: 295px}
    .sec119{width: 297.5px}
    .sec120{width: 300px}
    .gugudan_box{
        width: 100%;
    }
    .Form{
        display: inline-block;
    }
    .top_number{
        width: 180px;
        height: 50px;
        margin-left: 100px;
        margin-top: 26px;
        background: #FFFEFE;
        border: 1px dashed rgba(106, 106, 106, 0.5);
        border-radius: 20px;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Game_text{
        font-size: 100px;
        margin-right: auto;
        margin-left: auto;
        font-family: BMJUA;
        color: #6A6A6A;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .InputBox{
        display: inline-block;
        width: 165px;
        height: 133px;
        background: #FFFFFF;
        border: 2px solid rgba(106, 106, 106, 0.25);
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 70px;
        line-height: 125px;
        color: #6A6A6A;
        text-align: center;
        margin-left: 20px;
    }
    .Game_start_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 126px;
        width: 250px;
        height: 250px;
    }
    .Game_startBtn{
        margin-top: 35px;
        width: 394px;
        height: 80px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        font-weight: bold;
        font-size: 20px;
        outline: 0em;
    }
    .Game_startBtn:hover{
        margin-top: 35px;
        width: 394px;
        height: 80px;
        background: #dae766;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        font-weight: bold;
        font-size: 20px;
        outline: 0em;
    }


    .G_result_box{
        width: 1024px;
        height: 100%;
        display: inline-block;
    }
    .result_text{
        display: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        height: 31px;
        color: #3D3A3A;
    }
    .result_score{
        display: none;
        font-family: BMJUA;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        color: rgba(106, 106, 106, 0.9);
        height: 51px;
        margin-bottom: 0em;
    }
    .G_cutline{
        display: none;
    }

    .RightWrong_Container{
        display: none;
        justify-content: center;
        margin-top: 12px;
    }
    .Right_box{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 60px;
        background: #5CB85C;
        border: 2px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 28px;

    }
    .Wrong_box{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 60px;
        background: #D9534F;
        border: 2px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 28px;
    }
    .result_problem{
        display: inline-block;
        width: 400px;
        height: 567px;
        margin-left: auto;
        margin-right: auto;
        background: #FFFFFF;
        border: 2px dashed #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
        vertical-align: top;
        margin-top: 52px;
    }
    .result_rightPb{
        width: 89px;
        text-align: left;
        margin-right: 5px;
        text-align: center;
    }
    .result_wrongPb{
        width: 89px;
        text-align: left;
        text-align: center;
    }
    .result_listitem{
        width: 400px;
        display: flex;
        justify-content: center;
        margin-top: 3px;
        margin-bottom: 4px;
        color: #6A6A6A;
        font-family: BMJUA;
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Keypad_Btn{
        width: 140px;
        height: 65px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        color: #6A6A6A;
        font-size: 25px;
        margin-bottom: 5px;
        font-family: BMJUA;
    }
    .Keypad_Btn:hover{
        width: 140px;
        height: 65px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        color: #6A6A6A;
        font-size: 25px;
        margin-bottom: 5px;
        background-color: #88D7F6;
        font-family: BMJUA;
    }
    .Keypad_cancel{
        width: 140px;
        height: 65px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        background-image: url('../Images/Cancel.png');
        background-color: #D9534F;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Keypad_check{
        width: 140px;
        height: 65px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        background-image: url('../Images/Check.png');
        background-color: #5CB85C;
        background-repeat: no-repeat;
        background-position: center;
    }

    .result_Btn_div{
        display: inline-block;
        width: 400px;
        margin-left: 29px;
        margin-top: 75px;
    }

    .G_Result_Btn{
        width: 390px;
        height: 70px;
        outline: 0em;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.75);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-family: BMJUA;
        font-style: normal;
        font-weight: bold;
    }
    .G_Result_Btn:hover{
        width: 390px;
        height: 70px;
        background-color: #88D7F6;
        outline: 0em;
        border: 1px dashed rgba(196, 196, 196, 0.75);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-family: BMJUA;
        font-style: normal;
        font-weight: bold;
    }

    .OnTablet_ResultScoreDiv{
        display: inline-block;
    }
    .OnTablet_ResultImg{
        width: 200px;
        height: 200px;
    }
    .OnTablet_Resulttext1{
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .OnTablet_Resulttext2{
        color: #6A6A6A;
        font-size: 80px;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .OnTablet_Cutline{
        width: 390px;
        height: 0px;
        border: 2.5px solid #DEDEDE;
        margin-bottom: 5px;
    }



    #Modal_box{
        font-family: BMJUA;
        font-size: 60px;
        text-align: center;
        line-height: 166px;
        vertical-align: middle;
        padding-top: 25px;
        background-image: url('../Images/Clockimg_smal.png');
        background-repeat: no-repeat;
        background-position: center;
        outline: 0;
    }
}


@media (min-width: 1281px){
    .limit_bar_container{
        display: block;
    }
    .limit_bar_img{
        display: inline-flex;
        width: 180px;
        height: 141px;
        background-image: url('../Images/limitClock.png');
    }
    .limit_bar_back{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 25px;
        text-align: left;
        background-color: white;
        border-style: solid;
        border-color: rgb(155, 153, 153);
        border: 1px 1px 1px 1px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 70px;
        margin-left: -20px;
        margin-bottom: 50px;
    }
    .limit_bar{
        display: inline-block;
        width: 300px;
        height: 25px;
        background-color: #FFCC00;
        border-style: solid;
        border: 1px;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 50px;
    }
    .sec0{width: 0px}
    .sec1{width: 2.5px}
    .sec2{width: 5px}
    .sec3{width: 7.5px}
    .sec4{width: 10px}
    .sec5{width: 12.5px}
    .sec6{width: 15px}
    .sec7{width: 17.5px}
    .sec8{width: 20px}
    .sec9{width: 22.5px}
    .sec10{width: 25px}
    .sec11{width: 27.5px}
    .sec12{width: 30px}
    .sec13{width: 32.5px}
    .sec14{width: 35px}
    .sec15{width: 37.5px}
    .sec16{width: 40px}
    .sec17{width: 42.5px}
    .sec18{width: 45px}
    .sec19{width: 47.5px}
    .sec20{width: 50px}
    .sec21{width: 52.5px}
    .sec22{width: 55px}
    .sec23{width: 57.5px}
    .sec24{width: 60px}
    .sec25{width: 62.5px}
    .sec26{width: 65px}
    .sec27{width: 67.5px}
    .sec28{width: 70px}
    .sec29{width: 72.5px}
    .sec30{width: 75px}
    .sec31{width: 77.5px}
    .sec32{width: 80px}
    .sec33{width: 82.5px}
    .sec34{width: 85px}
    .sec35{width: 87.5px}
    .sec36{width: 90px}
    .sec37{width: 92.5px}
    .sec38{width: 95px}
    .sec39{width: 97.5px}
    .sec40{width: 100px}
    .sec41{width: 102.5px}
    .sec42{width: 105px}
    .sec43{width: 107.5px}
    .sec44{width: 110px}
    .sec45{width: 112.5px}
    .sec46{width: 115px}
    .sec47{width: 117.5px}
    .sec48{width: 120px}
    .sec49{width: 122.5px}
    .sec50{width: 125px}
    .sec51{width: 127.5px}
    .sec52{width: 130px}
    .sec53{width: 132.5px}
    .sec54{width: 135px}
    .sec55{width: 137.5px}
    .sec56{width: 140px}
    .sec57{width: 142.5px}
    .sec58{width: 145px}
    .sec59{width: 147.5px}
    .sec60{width: 150px}
    .sec61{width: 152.5px}
    .sec62{width: 155px}
    .sec63{width: 157.5px}
    .sec64{width: 160px}
    .sec65{width: 162.5px}
    .sec66{width: 165px}
    .sec67{width: 167.5px}
    .sec68{width: 170px}
    .sec69{width: 172.5px}
    .sec70{width: 175px}
    .sec71{width: 177.5px}
    .sec72{width: 180px}
    .sec73{width: 182.5px}
    .sec74{width: 185px}
    .sec75{width: 187.5px}
    .sec76{width: 190px}
    .sec77{width: 192.5px}
    .sec78{width: 195px}
    .sec79{width: 197.5px}
    .sec80{width: 200px}
    .sec81{width: 202.5px}
    .sec82{width: 205px}
    .sec83{width: 207.5px}
    .sec84{width: 210px}
    .sec85{width: 212.5px}
    .sec86{width: 215px}
    .sec87{width: 217.5px}
    .sec88{width: 220px}
    .sec89{width: 222.5px}
    .sec90{width: 225px}
    .sec91{width: 227.5px}
    .sec92{width: 230px}
    .sec93{width: 232.5px}
    .sec94{width: 235px}
    .sec95{width: 237.5px}
    .sec96{width: 240px}
    .sec97{width: 242.5px}
    .sec98{width: 245px}
    .sec99{width: 247.5px}
    .sec100{width: 250px}
    .sec101{width: 252.5px}
    .sec102{width: 255px}
    .sec103{width: 257.5px}
    .sec104{width: 260px}
    .sec105{width: 262.5px}
    .sec106{width: 265px}
    .sec107{width: 267.5px}
    .sec108{width: 270px}
    .sec109{width: 272.5px}
    .sec110{width: 275px}
    .sec111{width: 277.5px}
    .sec112{width: 280px}
    .sec113{width: 282.5px}
    .sec114{width: 285px}
    .sec115{width: 287.5px}
    .sec116{width: 290px}
    .sec117{width: 292.5px}
    .sec118{width: 295px}
    .sec119{width: 297.5px}
    .sec120{width: 300px}
    
    .gugudan_box{
        width: 100%;
    }
    .Form{
        display: inline-block;
    }
    .top_number{
        width: 180px;
        height: 50px;
        margin-left: 100px;
        margin-top: 26px;
        background: #FFFEFE;
        border: 1px dashed rgba(106, 106, 106, 0.5);
        border-radius: 20px;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Game_text{
        font-size: 100px;
        margin-right: auto;
        margin-left: auto;
        font-family: BMJUA;
        color: #6A6A6A;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .InputBox{
        display: inline-block;
        width: 185px;
        height: 133px;
        background: #FFFFFF;
        border: 2px solid rgba(106, 106, 106, 0.25);
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 80px;
        line-height: 125px;
        color: #6A6A6A;
        text-align: center;
        margin-left: 20px;
    }
    .Game_start_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 126px;
        width: 250px;
        height: 250px;
    }
    .Game_startBtn{
        margin-top: 35px;
        width: 394px;
        height: 80px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        font-weight: bold;
        font-size: 20px;
        outline: 0em;
    }
    .Game_startBtn:hover{
        margin-top: 35px;
        width: 394px;
        height: 80px;
        background: #dae766;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        font-weight: bold;
        font-size: 20px;
        outline: 0em;
    }
    .G_result_box{
        width: 1024px;
        height: 100%;
        display: inline-block;
    }
    .result_text{
        display: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        height: 31px;
        color: #3D3A3A;
    }
    .result_score{
        display: none;
        font-family: BMJUA;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        color: rgba(106, 106, 106, 0.9);
        height: 51px;
        margin-bottom: 0em;
    }
    .G_cutline{
        display: none;
    }

    .RightWrong_Container{
        display: none;
        justify-content: center;
        margin-top: 12px;
    }
    .Right_box{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 60px;
        background: #5CB85C;
        border: 2px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 28px;

    }
    .Wrong_box{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 60px;
        background: #D9534F;
        border: 2px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 28px;
    }
    .result_problem{
        display: inline-block;
        width: 400px;
        height: 567px;
        margin-left: auto;
        margin-right: auto;
        background: #FFFFFF;
        border: 2px dashed #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
        vertical-align: top;
        margin-top: 52px;
    }
    .result_rightPb{
        width: 89px;
        text-align: left;
        text-align: center;
    }
    .result_wrongPb{
        width: 89px;
        text-align: left;
        text-align: center;
    }
    .result_listitem{
        width: 400px;
        display: flex;
        justify-content: center;
        margin-top: 3px;
        margin-bottom: 4px;
        color: #6A6A6A;
        font-family: BMJUA;
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Keypad_Btn{
        width: 140px;
        height: 65px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        color: #6A6A6A;
        font-size: 25px;
        margin-bottom: 5px;
        font-family: BMJUA;
    }
    .Keypad_Btn:hover{
        width: 140px;
        height: 65px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        color: #6A6A6A;
        font-size: 25px;
        background-color: #88D7F6;
        font-family: BMJUA;
    }
    .Keypad_cancel{
        width: 140px;
        height: 65px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        background-image: url('../Images/Cancel.png');
        background-color: #D9534F;
        background-repeat: no-repeat;
        background-position: center;
    }
    .Keypad_check{
        width: 140px;
        height: 65px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        background-image: url('../Images/Check.png');
        background-color: #5CB85C;
        background-repeat: no-repeat;
        background-position: center;
    }

    .result_Btn_div{
        display: inline-block;
        width: 400px;
        margin-left: 29px;
        margin-top: 75px;
    }

    .G_Result_Btn{
        width: 390px;
        height: 70px;
        outline: 0em;
        background: #FFFEFE;
        border: 1px dashed rgba(196, 196, 196, 0.75);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-family: BMJUA;
        font-style: normal;
        font-weight: bold;
    }
    .G_Result_Btn:hover{
        width: 390px;
        height: 70px;
        background-color: #88D7F6;
        outline: 0em;
        border: 1px dashed rgba(196, 196, 196, 0.75);
        box-sizing: border-box;
        box-shadow: 0px 5px 1.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        font-family: BMJUA;
        font-style: normal;
        font-weight: bold;
    }

    .OnTablet_ResultScoreDiv{
        display: inline-block;
    }
    .OnTablet_ResultImg{
        width: 200px;
        height: 200px;
    }
    .OnTablet_Resulttext1{
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .OnTablet_Resulttext2{
        color: #6A6A6A;
        font-size: 80px;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .OnTablet_Cutline{
        width: 390px;
        height: 0px;
        border: 2.5px solid #DEDEDE;
        margin-bottom: 5px;
    }



    #Modal_box{
        font-family: BMJUA;
        font-size: 60px;
        text-align: center;
        line-height: 166px;
        vertical-align: middle;
        padding-top: 25px;
        background-image: url('../Images/Clockimg_smal.png');
        background-repeat: no-repeat;
        background-position: center;
        outline: 0;
    }

}