@media (min-width: 320px) and (max-width: 420px) {
    .Game_choice_Container{
        width: 100%;
    }
    .gugudan_box{
        width: 100%;
    }
    
    .Choice_Line{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .Answer_Btn{
        width: 40%;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;
    }
  }