@font-face {
    font-family: "BMJUA";
    src: url("../Fonts/BMJUA_ttf.ttf");
}
@media (min-width: 320px) and (max-width: 420px) {
    .body{
        font-family: BMJUA;
    }
    .Hompage_Container{
        display: block;
        width: 100%;
        height: 570px;
        text-align: center;
        font-family: BMJUA;
    }
    
    .Homepage_img {
        width: 180px;
        height: 180px;
    }
    .Homepage_ImgBox{
        display: block;
        margin-top: 33px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        margin-bottom: 43px;
    }

    .Homepage_Btn{
        display: block;
        width: 200px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        outline: 0;
        font-family: BMJUA;
    }
    .Homepage_Btn:hover{
        display: block;
        width: 200px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: #87CEEB;
        outline: 0;
        font-weight: bold;
    }
}


@media (min-width: 768px) and (max-width: 1024px){

    .body{
        font-family: BMJUA;
    }
    .Hompage_Container{
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: BMJUA;
    }
    
    .Homepage_img {
        width: 250px;
        height: 250px;
    }
    .Homepage_ImgBox{
        display: block;
        margin-top: 33px;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
        margin-top: 80px;
        margin-bottom: 55px;
    }

    .Homepage_BtnBox{
        width: 600px;
        display: inline-block;
    }
    .Homepage_Btn{
        display: inline-block;
        width: 250px;
        height: 60px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 25px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        outline: 0;
        font-family: BMJUA;
        font-size: 18px;
    }
    .Homepage_Btn:hover{
        display: inline-block;
        width: 250px;
        height: 60px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 25px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: #87CEEB;
        outline: 0;
        font-weight: bold;
        font-size: 18px;
    }
    
}

@media (min-width: 1025px) and (max-width: 1280px){

    .body{
        font-family: BMJUA;
    }
    .Hompage_Container{
        display: block;
        width: 100%;
        height: 570px;
        text-align: center;
        font-family: BMJUA;
    }
    
    .Homepage_img {
        width: 250px;
        height: 250px;
    }
    .Homepage_ImgBox{
        display: block;
        margin-top: 33px;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
        margin-top: 128px;
        margin-bottom: 55px;
    }

    .Homepage_BtnBox{
        width: 600px;
        display: inline-block;
    }
    .Homepage_Btn{
        display: inline-block;
        width: 250px;
        height: 60px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 25px;
        background: #FFFFFF;
        font-size: 20px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        outline: 0;
        font-family: BMJUA;
    }
    .Homepage_Btn:hover{
        display: inline-block;
        width: 250px;
        height: 60px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 25px;
        font-size: 20px;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: #87CEEB;
        outline: 0;
        font-weight: bold;
    }
    
}

@media (min-width: 1281px) {
    .body{
        font-family: BMJUA;
    }
    .Hompage_Container{
        display: block;
        width: 100%;
        height: 570px;
        text-align: center;
        font-family: BMJUA;
    }
    
    .Homepage_img {
        width: 250px;
        height: 250px;
    }
    .Homepage_ImgBox{
        display: block;
        margin-top: 33px;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
        margin-top: 128px;
        margin-bottom: 55px;
    }

    .Homepage_BtnBox{
        width: 600px;
        display: inline-block;
    }
    .Homepage_Btn{
        display: inline-block;
        width: 250px;
        height: 60px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 25px;
        background: #FFFFFF;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 5px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        outline: 0;
        font-family: BMJUA;
        font-size: 24px;
    }
    .Homepage_Btn:hover{
        display: inline-block;
        width: 250px;
        height: 60px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 25px;
        border: 1px dashed rgba(196, 196, 196, 0.1);
        background: #87CEEB;
        box-sizing: border-box;
        box-shadow: 0px 5px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        outline: 0;
        font-weight: bold;
    }
    
}