@media (min-width: 320px) and (max-width: 420px) {
   .Navibar_imgbox {
       width: 180px;
       height: 100px;
       border-style: solid;
   }
   .linkitem {
       width: 150px;
   }
   .Top_bar{
       text-align: center;
       height: 50px;
       background-color: rgba(107, 105, 105, 0.5);
   }
   .MuiButtonBase-root{
        display: inline-block;
   }
   #hamburgerMenu {
        width: 50px;
        position: fixed;
        top: 0;
        left: 0;
   }

   .Top_bar_text{
       text-align: center;
       width: 250px;
       display: inline-block;
   }
}