@font-face {
    font-family: "BMJUA";
    src: url("../Fonts/BMJUA_ttf.ttf");
}
@media (min-width: 320px) and (max-width: 420px) {
    .body{
        height: 570px;
    }
    .Showall_Container {
        width: 100%;
        text-align: center;
    }

    .showmodebtn_box{
        width: 100%;
        height: 45px;
        padding-left: auto;
        padding-right: auto;
        margin-top: 22px;
        margin-bottom: 10px;
        font-family: BMJUA;
    }
    .showmode_btn{
        width: 130px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        outline: 0;
    }
    .showmode_btn:hover{
        width: 130px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
        background: #FFCC00;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-weight: bold;
        font-family: BMJUA;
    }
    .dan_btn{
        width: 59px;
        height: 54px;
        margin-right: 15px;
        margin-top: 5px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        font-family: BMJUA;
    }
    .dan_btn:hover{
        width: 59px;
        height: 54px;
        margin-right: 15px;
        margin-top: 5px;
        background: #88D7F6;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        font-weight: bold;
        font-family: BMJUA;
        outline: 0;
    }
    .show_Box{
        display: flex;
        width: 280px;
        height: 280px;
        text-align: center;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
        background: #FFFEFE;
        border: 1.5px dashed #E1E1E1;
        border-radius: 5px;
        font-family: BMJUA;
    }
    
    .Showall_list{
        display: block;
        width: 50%;
        list-style: none;
        padding-left: 0;
        font-family: BMJUA;
    }
    .showall_listitem{
        width: 100%;
        margin-top: 9px;
        margin-bottom: 20px;
        font-family: BMJUA;
    }

    .OnTablet{
        display: none;
    }
    .OnTablet_text{
        display: none;
    }
  }

@media (min-width: 768px) and (max-width: 1024px) {

    .body{
        height: 570px;
    }
    .Showall_Container {
        width: 100%;
        text-align: center;
    }

    .ShowBox_BtnBox{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .showmodebtn_box{
        display: none;
        width: 100%;
        font-family: BMJUA;
    }
    .dan_btn_Container{
        display: inline-block;
        width: 500px;
        margin-top: 98px;
        margin-left: 24px;
    }
    .showmode_btn{
        width: 187px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        outline: 0;
        font-size: 25px;
    }
    .showmode_btn:hover{
        width: 187px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        background: #FFCC00;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-weight: bold;
        font-family: BMJUA;
    }
    .dan_btn{
        width: 83px;
        height: 80px;
        margin-right: 15px;
        margin-top: 5px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        font-family: BMJUA;
        font-size: 25px;
    }
    .dan_btn:hover{
        width: 83px;
        height: 80px;
        margin-right: 15px;
        margin-top: 5px;
        background: #88D7F6;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        font-weight: bold;
        font-family: BMJUA;
        outline: 0;
    }
    .show_Box{
        display: flex;
        width: 400px;
        height: 500px;
        text-align: center;
        font-size: 35px;
        margin-top: 17px;
        background: #FFFEFE;
        border: 1.5px dashed #E1E1E1;
        border-radius: 5px;
        font-family: BMJUA;
        padding-top: 100px;
    }
    
    .Showall_list{
        display: block;
        width: 50%;
        list-style: none;
        padding-left: 0;
        font-family: BMJUA;
    }
    .showall_listitem{
        width: 100%;
        margin-top: 9px;
        margin-bottom: 30px;
        font-family: BMJUA;
    }
    .OnTablet_text{
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        color: rgba(61, 58, 58, 0.8);
    }
    .OnTablet{
        display: flex;
        margin-top: 190px;
        margin-left: 24px;
    }
    
}

  @media (min-width: 1025px) and (max-width: 1280px) {

    .body{
        height: 570px;
    }
    .Showall_Container {
        width: 100%;
        text-align: center;
    }

    .ShowBox_BtnBox{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .showmodebtn_box{
        display: none;
        width: 100%;
        font-family: BMJUA;
    }
    .dan_btn_Container{
        display: inline-block;
        width: 500px;
        margin-top: 98px;
        margin-left: 24px;
    }
    .showmode_btn{
        width: 187px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: BMJUA;
        outline: 0;
        font-size: 25px;
    }
    .showmode_btn:hover{
        width: 187px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        background: #FFCC00;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-weight: bold;
        font-family: BMJUA;
    }
    .dan_btn{
        width: 83px;
        height: 80px;
        margin-right: 15px;
        margin-top: 5px;
        background: #FFFFFF;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        outline: 0;
        font-family: BMJUA;
        font-size: 25px;
    }
    .dan_btn:hover{
        width: 83px;
        height: 80px;
        margin-right: 15px;
        margin-top: 5px;
        background: #88D7F6;
        border: 1px solid rgba(196, 196, 196, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        font-weight: bold;
        font-family: BMJUA;
        outline: 0;
    }
    .show_Box{
        display: flex;
        width: 400px;
        height: 500px;
        text-align: center;
        font-size: 35px;
        margin-top: 17px;
        background: #FFFEFE;
        border: 1.5px dashed #E1E1E1;
        border-radius: 5px;
        font-family: BMJUA;
        padding-top: 100px;
    }
    
    .Showall_list{
        display: block;
        width: 50%;
        list-style: none;
        padding-left: 0;
        font-family: BMJUA;
    }
    .showall_listitem{
        width: 100%;
        margin-top: 9px;
        margin-bottom: 30px;
        font-family: BMJUA;
    }
    .OnTablet_text{
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        color: rgba(61, 58, 58, 0.8);
    }
    .OnTablet{
        display: flex;
        margin-top: 190px;
        margin-left: 24px;
    }
}